{% assign current = page.url | downcase | split: '/' %}

<div class="header">
  <h1 id="site-title">
    <a href="/">
      Daryl M. Rush Builders
    </a>
  </h1>

  <div class="address">
    3631 San Pablo Ave<br/>
    Emeryville, CA 94608<br/>
    License: 314184<br/>
    510.654.1050 (p)<br/>
    510.654.1099 (f)
    <br />
    <a href="mailto:info@darylrush.com">SEND E-MAIL</a>
  </div>

  <ul class="navigation">
    <li>
      <a {% if current[1] == 'index.html' %}class="active"{% endif %} href="{{'/' | prepend:site.baseurl}}">ABOUT</a>
    </li>
    <li>
      <a {% if current[1] == 'photo-galleries' %}class="active"{% endif %} href="{{'/photo-galleries/' | prepend:site.baseurl}}">PHOTO GALLERIES</a>
    </li>
    <li>
      <a {% if current[1] == 'videos' %}class="active"{% endif %} href="{{'/videos/' | prepend:site.baseurl}}">VIDEOS</a>
    </li>
  </ul>
</div>
