{% assign current = page.url | downcase | split: '/' %}

<div class="header">
  <h1 id="site-title">
    <a href="/">
      Daryl M. Rush Builders
    </a>
  </h1>

  <div class="address">
    3631 San Pablo Ave<br/>
    Emeryville, CA 94608<br/>
    License: 314184<br/>
    <a href="tel:5107740533">(510) 774-0533</a><br/>
    <a href="mailto:darylmrush@gmail.com">darylmrush@gmail.com</a>
  </div>

  <ul class="navigation">
    <li>
      <a {% if current[1] == 'index.html' %}class="active"{% endif %} href="{{'/' | prepend:site.baseurl}}">ABOUT</a>
    </li>
    <li>
      <a {% if current[1] == 'photo-galleries' %}class="active"{% endif %} href="{{'/photo-galleries/' | prepend:site.baseurl}}">PHOTO GALLERIES</a>
    </li>
    <li>
      <a {% if current[1] == 'videos' %}class="active"{% endif %} href="{{'/videos/' | prepend:site.baseurl}}">VIDEOS</a>
    </li>
  </ul>
</div>
